name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-and-test:
    name: Lint and Test (Node ${{ matrix.node }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22]
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker Image
        id: docker-build
        uses: ./.github/actions/docker-build
        with:
          node-version: ${{ matrix.node }}
          image-name: traffic-analytics-${{ matrix.node }}
          build-production: false
      - name: Lint & Test
        uses: ./.github/actions/lint-and-test
        with:
          docker-image: ${{ steps.docker-build.outputs.base-image-name }}
